* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* index */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

a {
    color: #00f;
}

a:hover {
    color: #f00;
}

.header {
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 2rem;
    background-color: #e5e5ff;
}

.container {
    
    margin-inline: auto;
    height: 96px;
}

.nav {
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    display: inline-block;
}

.link {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #ff9;
    border-radius: 15px;
    padding: 5px;
}

.links {
    display: inline-block;
    margin-left: 10px;
}



section {
    background-color: #f0f0f0;
    max-width: 100%;
    margin-inline: auto;
}

.container-section {
    width: 1080px;
    height: 220px;
    margin-inline: auto;
}

.container-main {
    width: 900px;
    height: 220px;
    margin-inline: auto;

}

.content {
    width: 600px;
    height: 220px;
    margin-inline: auto;
    text-align: center;
    padding: 10px;
}

.espacio-main {
    height: 225px;
    text-align: center;
    margin-inline: auto;
}
iframe {
    max-width: 100%;
    height: 200px;
    margin: 15px;
}

.h2-content {
    font-size: 40px;
    margin-top: 25px 0 0 0;
}

.a-link-blog-home {
    background-color: #9f0;
    border-radius: 10px;
    padding: 7px;
}

p {
    margin: 20px 0;
}

footer {
    max-width: 100%;
}

.links-footer {
    text-align: center;
    padding: 30px 0;
    background-color: #ccccff;
}

.link-footer {
    display: inline-block;
    margin-left: 35px;
}

.p-footer {
text-align: center;
}

hr {
    width: 80rem;
    margin-inline: auto;
}

.hr-footer {
    margin-top: 35px;
    background-color: #9f0;
    padding: 1px;
}


/* -------------- blog/index */

.container-blog {
    width: 1280px;
    height: 180px;
    margin-inline: auto;
    padding: 0 20px
}

.content-blog {
    width: 672px;
    height: 160px;
    padding: 15px;
}

.h2-container-blog {
    font-size: 30px;
}

.section-2 {
    max-width: 100%;
    margin-inline: auto;
    background-color: #ffffff;
}

.container-blog-2 {
    width: 1280px;
    margin-inline: auto;
    padding: 25px
}

.content-blog-2 {
    width: 672px;
    padding: 0px;
    margin-inline: auto;
}

.hr-2 {
    width: 672px;
}

.h3-blog-ideal {
    margin-bottom: 20px;
    font-size: 25px;
    color: #f00;
}

.article-list-blog {
    width: 576px;
    height: 260px;
}

.hora-container {
    text-align: left;
    margin: 15px 0px;
}

.h3-blog {
    margin: -30px 0 15px 0;
    color:#000;
    text-decoration: underline;
}

.article-blog {
    width: 576;
}

.p-article-blog {
    margin: 20px 0px;

}

.author {
   
}

.role-name {
    display: inline-block;
}

.mujer {
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 50%;   
    display: inline-block;
    border:#ffa5ff 5px solid;
}

.p-role-name {
    display: inline-block;
    margin: 4.5px;
    margin-left: 10px;
    margin-top: 7px;
    color: #3b5998;
}

.container-role-name {
    display: inline-block;
}

.tag-principiante {
    background-color: #e3dcee;
    display: inline-block;
    padding: 1.5px;
    border-radius: 5px;
}

.p-fecha {
    display: inline-block;
    margin: 0px;
}


/* conoce elementos HTML*/

.images-img {
    width: 672px;
    border-radius: 25px;
    border: 5px solid #9f0;
}

.container-blog-3 {
    width: 1280px;
    margin-inline: auto;
    padding: 25px
}

.content-blog-3 {
    width: 672px;
    padding: 0px;
    margin-inline: auto;
}

.h2-title-conoce {
    padding: 10px 0;
    font-size: 36px;
}

.h2-que-es-html {
    color: #f00;
}

h3, h4 {
    padding: 20px 0 5px 0;
}

.ul-conoce li {
    list-style: disc;
    margin-left: 20px;
}

.pre-ul {
    background-color: #171717;
    padding: 15px 0;
    color: #F5F5F5;
    border-radius: 4px;
}

.h4-lista {
    color: #f00;
}

.p-pre-ul {
    text-align: left;
    margin-left: -155px;
}

h2 {
    margin: 35px 0 25px 0
}

.table-conoce tr td {
    border: 1px solid #00f;
}
